.card {
  margin: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.product-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 36rem;
  min-width: 15rem;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background-color: white;
}

.void {
  box-shadow: none;
}

.animated {
  /* box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 250ms ease-in-out; */
  transition: transform 250ms;
}

.animated:hover {
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  transform: translateX(6px) translateY(-6px);
  /* scaleX(105%) scaleY(105%) */
}

.book-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-item__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

.expanded-item {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-area: expandedItem;
  gap: 1rem;
  width: 25rem;
}

.shop-cart__order {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24rem;
  height: fit-content;
  min-width: fit-content;
}

@media (max-width: 950px) {
  .shop-cart__order {
    width: 100%;
    min-width: 21.5rem;
  }

  .expanded-item {
    width: 100%;
    max-width: 30rem;
  }

  .animated:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transform: none;
  }
}

@media (max-width: 540px) {
  .book-item__content {
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    box-shadow: none;
  }
  .expanded-item {
    max-width: 27rem;
    box-shadow: none;
  }
}

@media (max-width: 410px) {
  .book-item__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  /* .expanded-item {
    max-width: 27rem;
    box-shadow: none;
  } */
}

@media (max-width: 360px) {
  .shop-cart__order {
    width: 100%;
    min-width: 16rem;
  }
}
