/* .pop-up {
  position: absolute;
  height: 50px;
  width: 200px;
  border: 1px solid var(--success-color);
  background-color: var(--success-color);
  border-radius: 32px;
  color: white;
  top: 8px;
  left: 25%;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
} */

.notification {
  display: flex;
  align-items: center;
  background-color: brown;
  border-radius: 10px;
  margin: 0.2rem;
  color: black;
  padding: 0.5rem 0.75rem;
  width: 20rem;
}

.notification-enter {
  transform: translateX(3rem);
  opacity: 0;
}

.notification-enter-active {
  transform: translateX(0rem);
  opacity: 1;
  transition: all 500ms;
}

.notification-exit {
  opacity: 1;
}

.notification-exit-active {
  transition: all 500ms;
  opacity: 0;
}

.add-to-cart {
  background-color: var(--success-color);
}

.delete-item {
  background-color: var(--danger-color);
}
