.notifications-list {
  position: fixed !important;
  top: 6%;
  left: calc(100% - 22rem);
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (max-width: 768px) {
  .notifications-list {
    top: 10.5%;
  }
}
