.notifications-list {
  position: fixed !important;
  top: 70px;
  left: 8px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (max-width: 768px) {
  .notifications-list {
    top: 120px;
  }
}
