.pop-up {
  position: absolute;
  height: 50px;
  width: 200px;
  border: 1px solid var(--success-color);
  background-color: var(--success-color);
  border-radius: 32px;
  color: white;
  top: 8px;
  left: 25%;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.pop-up-enter {
  transform: translateY(-3rem);
  opacity: 0;
}

.pop-up-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms;
}

.pop-up-exit {
  opacity: 1;
}

.pop-up-exit-active {
  opacity: 0;
  transition: all 1000ms;
}
