:root {
  --primary-color: #20b2aa;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #fe696a;
  --success-color: #58cc73;

  --price-color: #4e54c8;
  --grey-color: #e3e9ef;
  --black-color: #373f50;
  --icon-color: #ddd;
  --purple-color: rgb(55, 63, 80);
  --light-purple-color: #8d91ee;
}

.main-content {
  margin: 10.4rem auto 1rem auto;
  padding-bottom: 1rem;
  max-width: 1260px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.all-center {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  justify-content: center;
  align-items: center;
}

.unselectable {
  user-select: none;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 13.6rem;
  background-color: rgb(55, 63, 80);
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
