.main-content {
  margin: 7rem 2rem;
  box-sizing: border-box;
}

/* .all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
