.main-header {
  background: white;
  height: 4rem;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  /* border-bottom: 1px solid black; */
}
