.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  min-width: 15rem;
  margin: 7rem auto;
  /* text-align: center; */
}

.authentication form {
  margin-bottom: 1rem;
  width: 100%;
}

.test-user {
  margin-bottom: 1rem;
  font-size: 14px;
}
.test-user div {
  margin-bottom: 0.5rem;
}

.test-user__info {
  font-size: 16px;
  color: var(--light-purple-color);
  font-weight: 450;
}
