.expanded-layout {
  /* display: grid;
  grid-template-columns: 3fr, 1fr;
  grid-template-areas:
    "header header header"
    "list list expandedItem"; */
  display: flex;
  justify-content: flex-start;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.showing-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 450;
  white-space: nowrap;
  flex-basis: 55%;
  margin-left: 3rem;
}

.expanded-item-enter {
  opacity: 0;
  transform: translateX(15rem);
}
.expanded-item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}
.expanded-item-exit {
  opacity: 1;
  transform: translateX(0);
}
.expanded-item-exit-active {
  opacity: 0;
  transform: translateX(15rem);
  transition: all 500ms ease;
}

.expanded-item-appear {
  opacity: 0;
  transform: translateX(15rem);
}
.expanded-item-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

@media (max-width: 540px) {
  .showing-title {
    display: none;
  }
}

@media (max-width: 950px) {
  .expanded-layout {
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .shrink-order {
    order: 1;
  }
}

/* @media (min-width: 769px) {
  .responsive-shrink {
    max-width: 266px;
  }
} */

@media (min-width: 951px) {
  .responsive-shrink {
    max-width: 524px;
  }
}

@media (min-width: 1202px) {
  .responsive-shrink {
    max-width: 774px;
  }
}
