.shop-cart {
  display: flex;
  flex-direction: row;
}

.shop-cart__order--link {
  margin: 1rem 0;
  width: 100%;
}

.shop-cart__order--total {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.shop-cart__order--total h4 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.shop-cart__order--total span {
  font-weight: 400;
  font-size: 1.5rem;
}

/* .page-group1 {
  opacity: 0;
} */

.page-group1-enter {
  opacity: 0;
  transform: translateY(-15rem);
}
.page-group1-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}
.page-group1-exit {
  opacity: 1;
  transform: translateY(0);
}
.page-group1-exit-active {
  opacity: 0;
  transform: translateY(-15rem);
  transition: all 500ms;
}

.page-group1-appear {
  opacity: 0;
  transform: translateY(-15rem);
}
.page-group1-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}

@media (max-width: 768px) {
  .shop-cart {
    flex-direction: column;
  }

  .page-group1-appear {
    transform: translateX(-15rem);
  }
  .page-group1-appear-active {
    transform: translateX(0);
  }

  .page-group1-enter {
    transform: translateX(-15rem);
  }
  .page-group1-enter-active {
    transform: translateX(0);
  }

  .page-group1-exit-active {
    transform: translateX(-15rem);
  }
}
