.books-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.cart-list {
  list-style: none;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
