.books-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin: 0 1rem;
}

.book-list--shrink {
  grid-area: list;
}

.checkout-list {
  list-style: none;
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 50rem;
  align-items: center;
  flex-wrap: wrap;
}

.cart-list-grid {
  display: grid;
  grid-auto-rows: minmax(64px, auto);
  list-style: none;
  min-width: 530px;
  margin-bottom: 16px;
}

.cart-list-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

.cart-list-grid__header {
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  background-color: var(--grey-color);
  font-weight: 500;
  width: 100%;
}
.cart-list-grid__footer {
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  font-weight: 500;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.cart-item-enter {
  opacity: 0;
  transform: translateX(-15rem);
}
.cart-item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}
.cart-item-exit {
  opacity: 1;
  transform: translateX(0);
}
.cart-item-exit-active {
  opacity: 0;
  transform: translateX(-15rem);
  transition: all 500ms;
}

.cart-item-appear {
  opacity: 0;
  transform: translateX(-15rem);
}
.cart-item-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}
/* .cart-item-appear-done {
} */

@media (max-width: 950px) {
  .books-list {
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 1rem;
  }
}
