/* .book-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  background: green;
} */

/* .book-item a:hover,
.book-item a:active {
  background: brown;
} */

.book-item__p {
  width: 100%;
}

.book-item__category {
  font-size: 0.75rem;
  color: #7d879c;
  cursor: pointer;
  margin-top: 4px;
}

.book-item__info {
  text-decoration: none;
  color: var(--black-color);
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 4px;
}

.book-item__price {
  color: #4e54c8;
  margin-bottom: 6px;
}

.book-item__image {
  cursor: pointer;
}
.book-item__update {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 8px;
}

/* .book-item__image:hover {
  cursor: pointer;
} */

@media (max-width: 540px) {
  .book-item__p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: initial;
    height: 10rem;
  }

  .book-item__p > *:last-child {
    margin-top: 1rem;
  }
}
