.cart-list-grid {
  display: grid;
  grid-template-columns: 80vw;
  grid-auto-rows: minmax(250px, 100px);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.cart-list-grid span,
strong {
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-list-grid__header {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
}
